#### Mass Shootings Analysis

In [1]:
import requests
import pandas as pd
import numpy as np
import re

##### Load Data

In [22]:
# Get mass shooting data from Wikipedia

url = 'https://en.wikipedia.org/wiki/List_of_mass_shootings_in_the_United_States'
html = requests.get(url).content
df_list = pd.read_html(html)

# Concat shooting tables (90s, 00s,...)

shootings = pd.DataFrame()

for idx in range(16):

    new = df_list[idx]
    shootings = pd.concat([new, shootings])

nineties = df_list[23]
shootings = pd.concat([nineties, shootings])


# Create relevant columns

shootings['State'] = shootings.Location.str.split(',').apply(lambda x: x[-1]).astype('str')
shootings['Year'] = shootings.Date.str.split(' ').apply(lambda x: x[-1]).astype('int')
shootings[['Dead']] = shootings[['Dead']].apply(lambda x: x.str.replace(r'\[.*?\]|\(.*?\)', '', regex=True),  axis = 1).astype('int')

shootings.head()

,Date,Location,Dead,Injured,Total,Description,State,Year
0,"November 2, 1999","Honolulu, Hawaii",7,0,7,1999 Honolulu shootings: A service technician ...,Hawaii,1999
1,"September 15, 1999","Fort Worth, Texas",8,7,15,Wedgwood Baptist Church shooting: During a con...,Texas,1999
2,"August 10, 1999","Los Angeles, California",1,5,6,Los Angeles Jewish Community Center shooting: ...,California,1999
3,"July 27–29, 1999","Stockbridge and Atlanta, Georgia",10,13,23,1999 Atlanta day trading firm shootings: The p...,Georgia,1999
4,"July 2–4, 1999","Chicago, Urbana, Springfield, and Decatur, Ill...",3,10,13,1999 Independence Day weekend shootings: Part ...,Indiana,1999

In [29]:
shootings.to_csv('mass_shooting_list.csv')